<app-header-tab titulo="Tab 4"></app-header-tab>


<ion-content [fullscreen]="true">

  <ion-list>
    <ion-list-header>
      <ion-label>Adivina un número de 0 a 100</ion-label>
      <ion-button (click)="botonComprobar()">Comprobar</ion-button>
    </ion-list-header>
    <ion-item>
      <ion-label>Número: </ion-label>
      <ion-input type="Number" placeholder="Introduzca un número" [(ngModel)]="numero" (ionChange)="comprobarNumero()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label *ngIf="!acierto" color="danger">{{mensaje}}</ion-label>
      <ion-label *ngIf="acierto" color="success">{{mensaje}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab4</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
